$orange-color: #ed6436;
$nunito: "Nunito", sans-serif;

@mixin delete-nav-style {
    margin-block-start: 0;
    margin-block-end: 0;
}

@mixin div-dskt {
    visibility: hidden;
}
@mixin div {
    visibility: inherit;
    padding: 0 0 10px 0;
    width: 100%;
    position: relative;
    bottom: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 0 0 15px 15px;
}

@mixin img {
    width: 75vw;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

@mixin img-dskt {
    height: 50vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 20px;
}
