@use "variables";
@media screen and (max-width: 640px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        header {
            background-color: #ffffff;
            min-height: 3vh;
            box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.411);
            nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0.5em;
                padding-top: 2px;
                img {
                    width: 20px;
                    height: 20px;
                    object-fit: cover;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    div {
                        height: 1px;
                        width: 15px;
                        background-color: black;
                        border-radius: 100px;
                    }
                }
            }
        }
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            section:nth-of-type(1) {
                margin-block-start: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                h1 {
                    font-size: 0.8em;
                    color: variables.$orange-color;
                    @include variables.delete-nav-style;
                }
                h2 {
                    font-size: 1.5em;
                    @include variables.delete-nav-style;
                }
                button {
                    background-color: variables.$orange-color;
                    border: 0;
                    border-radius: 0px 20px 20px 20px;
                    color: white;
                    padding: 6px;
                    font-size: 0.3em;
                }
            }
            section:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 75vw;
                    height: auto;
                    object-fit: cover;
                    border-radius: 20px;
                }
                div {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    bottom: -200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: white;
                    h3 {
                        @include variables.delete-nav-style;
                    }
                    p {
                        @include variables.delete-nav-style;
                    }
                }
            }
        }
    }
}
